// first media query/////////1120//////////////////////
@media all and (max-width: 1120px) {
	.splash {
		flex-direction: column;
		height:100%;
		// margin-left:0px;
			.img {
				width:100%;
				height: 50%;
					img.headshot {
					  max-width:350px;
					  max-height:350px;
					  margin-bottom:30px;
					  margin-top:30px;
			}
		}
		.textBlock {
			width:100%;
			height:50%;
			margin:0;
			flex-wrap: nowrap;
			flex-direction: row-reverse;
			
			.introduction {
			}
			h2.jobTitle {
						margin:0;
						padding:0;
					}
			.broadSkills {
				width:20%;
				margin-top:0%;
				margin-right:30px;
				display:flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: flex-end;
			}
			.broadSvg {
				width: 100%;
				// margin-left:20px;
			}
		
			.topText {
				width:60%;
				margin-top:20px;
			}
			.move {
				// background:deeppink;
				padding:0;
				margin:0;
				width:100%;
				display:flex;
				flex-wrap:wrap;
				height:100%;
				flex-direction: row-reverse;
				// margin-left:40px;
				align-items: center;
					.socialIcons {
						flex-direction: column;
						width:15%;
						align-self: flex-start;
							p {
								margin-top:10px;
							}
					}
			}
		}
	}
}

// SECOND MEDIA QUERY AT 950 ///////////////////////////////////////////////

@media all and (max-width: 950px) {
		// splash page on top
		// .splash {
			// flex-direction: row;
			// justify-content: center;
			// .headshot {
				// width: 100%;
				// margin: 30px auto;
			// }
			// .img {

				// max-width:400px;
				// max-height:400px;
				// justify-content: center;
			// }

			// .textBlock {
				// width:80%;
				// margin: 20px auto;

				// h1 {
					// text-align: center;
				// }
				// .broadSkills {
						// width:20%;
						// background: palegreen;
					// }
			// }
		// }
	


// coding hours 
		h3.hoursCoded {
			margin-top: 100px;
			// background: grey;
		}
		.hoursPanel {
			.hoursP {
				// width:900px;
				// height:250px;
				// flex-wrap: no-wrap;
				// flex-direction:column;
				// justify-content: space-around;
			}
			// width:900px;
		}
	}	


// 3rd phrase media query

	@media all and (max-width: 800px) {
	// reasons: the break in the hours panel must switch to two hours
///// coding hours //////////////////////////////////////////////
	.hoursPanel {
			.hoursP {
				width:500px;
				// background:grey;
					.workHours {
						margin: 20px;

				}

			}
			// width:900px;
		}
	}

//media query for mobile 
@media all and (max-width: 440px) {
//at 440 must change the hours coded section


		.hoursPanel {
			.hoursP {
				width:400px;
					.workHours {
						margin: 15px;
						width: 120px;
						height: 120px;
				
			}
		}
	}
	

//calender time
h3.calenderP {
	margin:20px auto;
}
.calender {
	flex-wrap: nowrap;
	flex-direction:column;
	width:100%;
	margin-top:10px;
	// margin-bottom: 20px;
	// background: blue;
		.upcoming {
			width: 90%;
			margin:10px auto;
			// background: green;
		}

		.past {
			width: 90%;
			margin:10px auto;
		}
	}
}





@media all and (max-width: 375px) {
	//head show image
header {
	.nav {
		width:250px;
		height:250px;

		&:before {
			background:black;
		}
	}
}	

ul.menu {
	li {
		a {
			font-size: 1rem;
			padding: 3px;
		}
	}
}

	.splash {
		display:block;
		.img {
			margin:0px auto;
			// margin-top:125px;
			.headshot {
				width:250px;
				height:250px;
				// margin-left: 100px;
			}
		}

		.textBlock {
			display: block;
			width:100%;
			margin-top:0px;
				.topText {
					margin-top: 0px;
					width:100%;
					margin-left: 20px;
				}
				.jobTitle {
					margin-top:0px;
					}
				}
			}
	//broad skills
	.broadSkills {
		display: block;
		width:100%;
			.broadSvg {
				display: block;
				width:100%;
					.svg {
						width: 100%;
					}
			}
	}

	.splash .textBlock .broadSkills {
		display: none;
	}
	.splash .textBlock .move {
		// display: block;
		display:none;
		width: 100%;
	}

	.splash .textBlock .move .socialIcons {
		display: block;
		width: 100%;
	}

//portfolio title
.workText {
	margin-bottom:30px;
}

	.hoursPanel {
		margin-bottom:30px;
			.hoursP {
				width:500px;
					.workHours {
						margin: 20px;
				
			}
		}
	}

	h3.hoursCoded {
		margin-top: 0px;
		padding-top: 0px;
	}

	.wpcf7 {

		.wpcf7-form-control {
			width:100%;
			background:none;
			border:none;
			border-bottom:1px solid grey;
			// z-index: -9999999;
		}
		.wpcf7-submit {
				width:100%;
				border: 2px solid black;
				text-transform: uppercase;
				color:pink;
				// float: right;
				padding:20px;
				border-radius: 9px;
				margin: 0px;
					p {
						margin-bottom: 0px;
					}
				
			}
		}
		//end of contact changes 	

	h3.connect {
		margin-top: 20px;
		margin-bottom: 0px;
	}

	.columns {
		width:100%;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin-left:40px;
		margin-top: 20px;



		.one {
		width:100%;
		margin:0px;
		// align-self: center;
			p {
				width:100%;
				margin:0px;
				margin-bottom:3px;
			}
		}

		.two {
		width:100%;
		// align-self: center;
			p {
				width:100%;
				margin-bottom:3px;
			}
		}

		.three {
		width:100%;
		// align-self: center;
			p {
				width:100%;
				margin-bottom:3px;
			}
		}
	}

// start of hard skills 

.hardSkills {
	margin-top:10px;

}

.hardSkillsTwo {
	margin-top: 0px;
	margin-bottom: 40px;
}

// start of portfolio 
.portfolio {
	width:100%;
		.full {
			.test {
				margin-bottom: 30px;
				display: block;
				}
				button {
					width: 60%;
					margin-bottom: 30px;
				}
				.textWork {
					width: 80%;
					margin:0 auto;
				}
			}
		}
div.test:nth-child(2n+0) {
	.textWork {
		margin-right: 15px;
		margin-left: 15px;
		}
	}	
div.test:nth-child(odd) {
	.textWork {
		margin-left:15px;
		margin-right:15px;
		}
	}
}
//end of mobile size;
		















