// first media query/////////1120//////////////////////
@media all and (max-width: 1120px) {
	.splash {
		flex-direction: column;
		height:100%;
			.img {
				width:100%;
				height: 50%;
					img.headshot {
					  max-width:400px;
					  max-height:400px;
			}
		}
		.textBlock {
			width:100%;
			height:50%;
			margin:0;
			flex-wrap: nowrap;
			flex-direction: row-reverse;
			
			.introduction {
			}
			h2.jobTitle {
						margin:0;
						padding:0;
					}
			.broadSkills {
				width:50%;
				margin-top:0%;
				display:flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: flex-end;
			}
			.broadSvg {
				width: 30%;
			}
			// .socialIcons {
			// 	width: 5%;
			// 	display:flex;
			// 	flex-wrap: wrap;
			// 	flex-direction: row;
			// 	justify-content: center;
			
			// }
			.topText {
				width:50%;
			}
			.move {
				// background:deeppink;
				padding:0;
				margin:0;
				width:50%;
				display:flex;
				flex-wrap:wrap;
				height:100%;
				// justify-content: center;
				align-items: center;
			}
		}
	}
}

// SECOND MEDIA QUERY AT 950 ///////////////////////////////////////////////

@media all and (max-width: 950px) {
		// splash page on top
		.splash {
			flex-direction: row;
			// justify-content: center;
			.headshot {
				width: 100%;
				margin: 30px auto;
			}
			.img {

				max-width:400px;
				max-height:400px;
				justify-content: center;
			}

			.textBlock {
				width:80%;
				margin: 20px auto;

				h1 {
					// text-align: center;
				}
				.broadSkills {
						// width:20%;
						// background: palegreen;
					}
			}
		}
	


// coding hours 
		h3.hoursCoded {
			margin-top: 100px;
			background: grey;
		}
		.hoursPanel {
			.hoursP {
				// width:900px;
				// height:250px;
				// flex-wrap: no-wrap;
				// flex-direction:column;
				// justify-content: space-around;
			}
			// width:900px;
		}
	}	


// 3rd phrase media query

	@media all and (max-width: 800px) {
	// reasons: the break in the hours panel must switch to two hours
///// coding hours //////////////////////////////////////////////
	.hoursPanel {
			.hoursP {
				width:500px;
				// background:grey;
					.workHours {
						margin: 20px;

				}

			}
			// width:900px;
		}
	}

//media query for mobile 
@media all and (max-width: 440px) {
//at 440 must change the hours coded section

		.hoursPanel {
			.hoursP {
				width:400px;
					.workHours {
						margin: 15px;
						width: 120px;
						height: 120px;
				
			}
		}
	}

//calender time
h3.calenderP {
	margin:20px auto;
}
.calender {
	flex-wrap: nowrap;
	flex-direction:column;
	width:100%;
	margin-top:10px;
	// margin-bottom: 20px;
	// background: blue;
		.upcoming {
			width: 90%;
			margin:10px auto;
			// background: green;
		}

		.past {
			width: 90%;
			margin:10px auto;		}
	}
}




@media all and (max-width: 300px) {
	// .hoursPanel {
	// 		.hoursP {
	// 			width:500px;
	// 				.workHours {
	// 					margin: 20px;
				
	// 		}
	// 	}
	// }
}
















