ul.menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	// justify-content: flex-end;
	// width: 50%;
	flex-direction: column;
	margin-top: 20px;
	// padding-top:10px;
	// justify-content: space-between;

	li {
		display: inline;
		margin-right: 10px;
		background:none;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		padding:5px;
		a {
			color: #333;
			padding: 10px;
			background: #333;
			color: white;
			background:none;
			font-size:1.2rem;
		}
		a:hover {
			color:pink;
		}
	}
}